body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menuString1 {
  background-color: #d09972;
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0;
  position: relative;
}

.horisontalSeparator {
  width: 0.5px;
  background-color: #ffffff; 
  height: 20px; 
  margin: 0 20px; 
}

.vertical-separator {
  border-left: 1px solid #d09972; 
  height: 30px; 
  margin: 0 10px;
}


.buttonMenuString1{
  flex: 1;
  text-align: center;
  border: 0px;
  background-color: #d09972;
  color: #ffffff;
  font-size: 15px;
}

.buttonMenuString1:hover{
  text-decoration: underline;

}

.menuLink{
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

.menuString2 {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0;
  position: relative;
  margin: 20px;
}

.searchString {
  background-color: #ffffff;
  color: #000000;
  outline: none;
  border: none;
  border-bottom: 1px solid #d09972;
  font-size: 20px;
  width: 470px;
  margin-right: 35px;
  margin-left: 20px;
}

.menuImg{
  width: 22px;
  height: 20px;
  margin-top: 7px;
}

.city{
  display: flex;
}

.cityDropdownBox {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

#cityButton {
  padding: 10px;
  font-size: 16px;
  border: 0px;
  background-color: #ffffff;
  padding-bottom: 5px;
}

.cityDropdownBox-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.cityDropdownBox-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: #333;
}

.cityDropdownBox-content a:hover {
  background-color: #ffffff;
}

.cityDropdownBox:hover .cityDropdownBox-content {
  display: block;
}

.posnumButton {
  padding: 10px;
  font-size: 16px;
  border: 0px;
  background-color: #ffffff;
}

.openWin {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.openWin-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #8f8f8f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.txtOpenWin {
  text-align: center;
}

.actionSeedsBox{
  display: flex;
  margin-left: 7px;
}

.actionSeeds{
  width: 608px;
  height: 608px;
}

.actionText{
  width: 608px;
  height: 408px;
  background-color: #eee3d8; 
  padding-left: 30px;
  padding-top: 200px;
}

.actionTextP1{
  font-size: 30px;
  margin: 0px;
}

.actionTextP2{
  font-size: 60px;
  margin: 0px;
}

.link{
  text-decoration: none;
  color: #444;
}

.link :hover {
  color: #000000;
  border: 0px;
}

.actionButton{
  border: 0px;
  background-color: red;
  color: white;
  width: 170px;
  height: 50px;
  border-radius: 53px;
}

.linkButton{
  text-decoration: none; 
}

.list{
  display: flex;
  list-style-type: none;
}
li{
  margin-left: 90px;
  margin-right: 90px;
  font-size: 16px;
  color: #000000;
}

.otherActions{
  display: flex;
  text-align: center;
  color: white;
}

.otherActions2{
position: relative;
}

.imgString1{
  width: 400px;
  margin: 9px;
}

.top-left {
  position: absolute;
  top: 40px;
  left: 10px;
  color: white;
  background-color: red;
  padding: 5px;
  font-size: 20px;
}

.top-left-two {
  position: absolute;
  top: 80px;
  left: 10px;
  color: white;
  background-color: rgb(55, 55, 55);
  padding: 5px;
  font-size: 20px;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: black;
  font-size: 35px;
  text-align: left;
  background-color: rgba(147, 145, 145, 0.4);
}

.imgString2{
  width: 606px;
  margin: 10px;
}

.imgText{
  margin: 0px;
  font-size: 20px;
}

.linksInImg{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  width: 400px;
  height: 395px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
}

.personTipsText{
  display: flex;
}

.personTipsButton{
  width: 250px;
  height: 40px;
  border-radius: 30px;
  background-color: rgb(33, 70, 38);
  color: white;
  border: none;
  font-size: 15px;
  text-align: center;
  transition: 0.5s;
}

.personTipsButton:hover{
  background-color: rgb(153, 23, 23);
}

.content{
  text-align: center;
  width: 100%;
}

.section{
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.littleSection{
  flex: 1 0 25%;
  width: 290px;
  height: 410px;
  background-color: #ffc69e;
}

.imgNews{
  width: 290px;
  height: 230px;
}

.linkNews{
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.bottom-left-text {
  position: absolute;
  left: 20px;
  color: rgb(122, 121, 121);
  text-align: left;
}